// Variables: Colors
// -----------------

// MONOTONE
// =============================================================================
$white: #fff;
$black: #000;
$black-light: #3B3B3B;
$gray-dark: #666666;
$gray: #999999;
$gray-light: #f5f8fa;


// BRAND COLORS
// =============================================================================

$brand-color: #bc4e9c;

$purple: $brand-color;
$magenta: #f80759;

%purple-gradient {
  @include linear-gradient(to right, $purple, $magenta);
}

// COLOR LISTS FOR UTILITY CLASSES - see `sass/global/_utility-classes.scss
// Array format: 'class-base': $color-var, where `class-base' would output as
// both `.class-base` and `._class-base`
// =============================================================================
$color-styles: (
  'gray-light': $gray-light,
  'white': $white,
  'black': $black,
  'black-light': $black-light,
  'brand-color': $brand-color,
  'gray': $gray,
  'gray-dark': $gray-dark,
  'magenta': $magenta,
  'purple': $purple
);


// ELEMENT COLORS
// =============================================================================

// Background Color
$base-background-color: $white;

// Font Colors
$base-font-color:     $gray-dark;
$base-accent-color:   $brand-color;

// Link Colors
$base-link-color:     $base-accent-color;
$hover-link-color:    $base-font-color;
$base-button-color:   $base-link-color;
$hover-button-color:  $hover-link-color;
