// Global Modules: Clients
// ----------------------

.global-clients__lead {
  margin-bottom: $space-xl;

  @include media($large) {
    @include center-column(8);
  }
}

.global-clients {
  width: 100%;
  align-items: center;
  text-align: center;

  @include media($medium) {
    display: flex;
    flex: 1;
  }
}

.client__item {
  margin-bottom: $space-xl;

  @include media($medium) {
    margin-bottom: 0;
    flex: 2;
  }
}

.client__logo {
  filter: grayscale(100%);
}
