.pilott-animation {
  background-image: url('../../dist/images/galaxy-bkg.svg');
  transform: translateY(-100px);
  height: 100vh;
  min-height: 800px;
  text-align: center;
  display: flex;
}

.pilott-animation__icon {
  align-self: center;
  flex: 1;

  span {
    color: $blue;
    display: block;
    font-size: rem(50);
  }
}
