// Get Started: Steps
// -----------------

.steps__wrap {

  @include media($medium) {
    @include center-column(10);
  }
}

.steps__lead {

  br {
    display: none;
  }

  @include media($medium) {
    br {
      display: inline-block;
    }
  }
}

.step__item {
  margin-bottom: $space-xl;
  text-align: center;

  @include media($xsmall) {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: $space-xl;
    text-align: center;
  }

  @include media($medium) {
    @include span-columns(3);
    @include omega-reset(2n);
    @include omega(4n);
    margin-bottom: 0;
    text-align: left;
  }
}

.step__title {
  margin-top: $space-md;
}

.step__desc {
  margin-top: $space-sm;
}
