// Utility Classes
// ---------------

// Wordpress Screen Reader Class
.screen-reader-text {
  position: absolute !important;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// WordPress Video Embed Wrapper
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Text and Background Color Classes
// See $color-styles in sass/utilities/variables/_var-colors.scss
@each $name, $value in $color-styles {
  .#{$name} {
    color: $value;
  }

  a.#{$name} {
    color: $value;

    &:hover {
      color: darken($value, 5%);
    }
  }

  ._#{$name} {
    background-color: $value;
  }

  .fill-#{$name} {
    fill: $value;
  }
}

._gradient {
  @extend %purple-gradient;
}

.img-r {
  @include img-responsive();
}

.bkg-cover {
  @include background-cover();
}

// Spacing & Layout
//
.section-padding {
  padding-bottom: $space-xl;
  padding-top: $space-xl;

  @include media($small) {
    padding-bottom: $space-xxl;
    padding-top: $space-xxl;
  }

  &._gradient + ._gradient.section-padding { // If 2 gradient section meet, remove padding on top
    padding-top: 0;
  }
}
