// Company: Contact
// -----------------

.contact {
  @include center-column(8);
}

.contact__form {
  > div {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: $space-md;

    &.contact__message {
      @include span-columns(12);
      @include omega();
    }

    &.contact__submit {
      width: 100%;
      text-align: center;
    }

  }

  label {
    display: block;
    padding-top: $space-sm;
  }
}
